import /microtrust.rc

on init
    export ANDROID_ROOT /system_root

    start servicemanager
    start hwservicemanager
    setprop crypto.ready 1

    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /mnt/vendor/persist rw

on fs
    install_keyring

# system services
service hwservicemanager /system/bin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /system/bin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

# vendor services
service vendor.keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service
    class early_hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service init_thh_service /vendor/bin/init_thh startload
    class late_start
    oneshot
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service teei_daemon /vendor/bin/teei_daemon
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keyinstall-1-0 /vendor/bin/hw/vendor.mediatek.hardware.keyinstall@1.0-service
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service capi-2-0 /vendor/bin/hw/vendor.microtrust.hardware.capi@2.0-service
    class hal
    oneshot
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service thh-2-0 /vendor/bin/hw/vendor.microtrust.hardware.thh@2.0-service
    class late_start
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

# decryption process
on property:hwservicemanager.ready=true
    start teei_daemon
    start keyinstall-1-0
    #microtrust add start
    start capi-2-0
    #microtrust add end
    start vendor.keymaster-3-0
    start vendor.gatekeeper-1-0
#    start keymaster_attestation-1-1

on property:ro.crypto.state=unsupported
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-3-0
    stop teei_daemon
    stop keyinstall-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-3-0
    stop teei_daemon
    stop keyinstall-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-3-0
    stop teei_daemon
    stop keyinstall-1-0
    stop servicemanager
    stop hwservicemanager
    

